<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form-container">
        <p class="title">Login Form</p>
        <form class="form" action="signForm" method="post">
          <div class="input-group">
            <label for="username">Email</label>
            <input type="email" name="email" id="email" placeholder="">
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="">
          </div>
          <button class="signIn"  type="submit">Sign In</button>
        </form>
        <p class="signup">Don't have an account?
          <a rel="noopener noreferrer" href="register" class="">Sign Up</a>
        </p>
      </div>
</body>
</html>